* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #fffaf3;
    --text-color: #434343;
    --primary-color: #D93250;
    --secondary-color: #A62648;
    --border-color: #ddd;
}

 body {
    font-family: Arial, sans-serif;
    height: 125vh;

    /* background-color: var(--background-color); */
}


 .container5 {
   
 position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(123, 112, 112, 0.1);
    text-align: center;
}

.form-title5 {
    margin-bottom: 5px;
    color: #333;
    font-size: 1.5rem;
}


.input-group5 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; 
}


.input-group-horizontal5 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.input-group-item5 {
    flex: 1;
    margin-bottom: 1rem; 
    position: relative;

}


.input-group-item5 input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.input-group-item5 label {
    display: block;
    margin-bottom: 2px; 
    color: #4d0a0a; 
    font-size: 12px; 
    text-align: start;
}


.error-message5 {
    color: red;
    font-size: 0.875rem; 
    display: none; 
}


.btn5 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D93250;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 15px; 
    margin-top: 1rem; 
    transition: background-color 0.3s ease;
}

.btn5:hover {
    background-color: #A62648;
}


.recover5, .links5 {
    margin-top: 1rem;
}

.recover5 a, .links5 a {
    color: #686c6f;
    text-decoration: none;
}

.recover5 a:hover, .links5 a:hover {
    text-decoration: underline;
}


.address-group5 {
    display: flex;
    gap: 10px;
}


#footerf
{
    position: absolute;
    top:116%; 
    width: 100%;
   
}









