* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --background-color: #f7f5f2;
    --text-color: #434343;
    --primary-color: #D93250;
    --secondary-color: #A62648;
    --border-color: #ddd;
}


html, body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    height: 100%;
    margin: 0;
}

.container0 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(123, 112, 112, 0.1);
    width: 100%;
    max-width: 400px; 
    text-align: center;
}




.form-title0 {
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 1.5rem; 
}


.account-info0 {
    margin-bottom: 1rem;
    font-size: 0.875rem; 
    color: #666;
}


.input-group0 {
    margin-bottom: 1rem;
    position: relative;
}

.input-group0 input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group0 label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #4d0a0a;
}


.error-message0 {
    color: red;
    font-size: 0.875rem; 
    display: none; 
}


.btn0 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D93250; 
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem; 
    margin-top: 1rem; 
    transition: background-color 0.3s ease; 
}

.btn0:hover {
    background-color: #A62648; 
}


.recover0, .links0 {
    margin-top: 1rem;
}

.recover0 a, .links0 a {
    color: #686c6f; 
    text-decoration: none;
}

.recover0 a:hover, .links0 a:hover {
    text-decoration: underline;
}




